<!DOCTYPE html>
<html>
  <head>
    <title>shuttlecraft OAuth</title>
    <link rel="stylesheet" href="{{rootUrl}}/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div id="content">
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>
